<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://partner.zookstay.com/#"><i class="fa-solid fa-laptop"></i></a>
            <a href="https://www.instagram.com/zookstay/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div>&copy;ZookStay Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>