<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZookStay-Home</title>
    <link rel="icon" type="image/png" href="/Images/favicon.png">
    <link rel="stylesheet" href="/css/styles-home.css">
</head>
<body>
    <header class="header">
       
        <div class="header-content">
            <h1>ZookStay</h1>
            <h2>Looking for freedom from
                commissions?</h2>
            <p>Your comfort is our priority. Find and book your stay with us today!</p>
            <button class="get-onboard-btn" ><a href="/signup" id="btn-link">Get Onboard</a></button>
        </div>
    </header>
    <section class="showcase">
        <div class="image-container">
            <img src="https://images.unsplash.com/photo-1711111038517-f5d61fe63008?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Luxury Hotel">
        </div>
    </section>
    <footer>
        <div class="f-info">
            <div>&copy;ZookStay Private Limited</div>
        </div>
    </footer>
</body>
</html>
